.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}


.modal__is-opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  gap: 32px;
}

.modal__close-btn {
  position:absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: url(../images/spots-images/xbutton.svg);
  color: #212121;
  border: 2px;
  transition: opacity 0.5s linear;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 100%;
  gap: 421px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 16px 12px;
  border-radius: 8px;
  gap: 10px;
  color: #21212140;
  width: 100%;
  font-size: 20px;
  border: 1px solid;
  max-width: 700px;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  border: 0;
  padding: 18px 32px;
  gap: 8px;
  background-color: #212121;
  color: #fff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: auto;
    width: 300px;
    gap: 24px;

  }

  .modal__title {
   font-size: 20px;
  }

  .modal__label {
    font-size: 16px;
  }

  .modal__input {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    width: 276px;
  }

  .modal__submit-btn {
    max-width: none;
    font-size: 16px;
  }
  }